@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --disc-size: 60vh;
    --song-info-width: 90px;
}
* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.album {
    height: var(--disc-size);
    width: var(--disc-size);
    background: linear-gradient(white, black);
    transition: ease-in-out 0.5s;
    background-size: cover;
    background-position: center;
    position: absolute;
    border: 5px solid white;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.25);
}

.album-container {
    height: var(--disc-size);
    width: var(--disc-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.6);
}

.playback-container {
    display: flex;
    gap: 10px;
    position: relative;
    width: calc((var(--disc-size) * 1.5) + var(--song-info-width));
}

.disc {
    height: calc(var(--disc-size) * 0.95);
    width: calc(var(--disc-size) * 0.95);
    top: calc(var(--disc-size) * 0.025);
    border-radius: 50%;
    position: absolute;
    left: calc(var(--disc-size) / 2 + var(--song-info-width));
    display: block;
    background-image: url("../assets/vinly.png");
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.6);
    animation: rotate-disc 7.5s infinite linear;
}

.media-controls {
    display: flex;
    gap: 50px;
    z-index: 100;
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 0;
    button {
        font-size: 60px;
        border: 0;
        background: none;
        color: white;
        cursor: pointer;
        display: flex;
    }
}

.is-playing {
    animation-play-state: running;
}

.is-paused {
    animation-play-state: paused;
}

@keyframes rotate-disc {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.login-button {
    svg {
        font-size: 40px;
    }
    background: none;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    font-weight: 600;
}

.song-progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: white;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.6);
    div {
        transition: ease-in-out 0.5s;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
    }
}

.song-info {
    width: var(--song-info-width);
    display: flex;
    flex-direction: column;
    padding: 0;
    writing-mode: vertical-rl;
    p {
        font-size: 40px;
        font-weight: 800;
        text-overflow: ellipsis;
        overflow: hidden;
        height: var(--disc-size);
        white-space: nowrap;
    }
    h2 {
        font-size: 20px;
        white-space: nowrap;
        z-index: 100;
        font-weight: 100;
        text-overflow: ellipsis;
        overflow: hidden;
        height: var(--disc-size);
        white-space: nowrap;
    }
}

.blur {
    filter: grayscale(0.25) blur(2px) contrast(1);
    transition: ease-in-out 0.5s;
}

.show {
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background-color 0.5s;
}
